body {
    background-image: url(imgs/fondoGeneral.jpg);
    background-size: cover;
    font-family:sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
#juego {
    display:flex;
}
#tablero {
    position: relative; /* Change to relative for better positioning */
    width: 100%; /* Use full width */
    max-width: 1300px; /* Set a max-width */
    height: 0;
    padding-bottom: 40%; /* Adjust this value based on the aspect ratio of your background image */
    border: 2px solid silver;
    background-image: url(imgs/fondoBatalla.jpg);
    background-size: cover;
    overflow: hidden;
    margin: 0 auto; /* Center the element */
    
}
.protector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
/******************************cartel fight***********************************/
#cartelFight {
    position: absolute;
    top: 0;
    left: 30%;
    width: 45%;
    height: 90vh; /* Adjust height to cover the viewport */
    background-image: url(imgs/cartelLucha.png);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 9999; /* Ensure it appears in front of all other elements */
    cursor: pointer;
}
#cartelFight:hover {
    filter: drop-shadow(0px 0 15px rgb(255, 255, 255));
}
.muerto {
    filter:saturate(0%) drop-shadow(0px 0 30px rgb(0, 0, 0));
}
.muriendo {
    animation: slideDownDisappear 1s forwards;
}
@keyframes slideDownDisappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}


/************************************** ruleta ***********************************/
#contenedorPrincipal {
    width:600px;
    z-index: 1000;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
.casilla {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color:whitesmoke;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
}

.casilla img {
    height:90%;

}

#ruleta{
    position: absolute;
    top: 50px;
    width: 600px;
    height: 600px;
    text-align: center;
}

#c1 {
    left: calc(50% - 50px);
}

#c2 {
    top: calc(20% - 50px);
    right: calc(20% - 50px);
}


#c3 {
    right: 0;
    top: calc(50% - 50px);
}

#c4 {
    bottom: calc(20% - 50px);
    right: calc(20% - 50px);
}

#c5 {
    bottom: 0;
    left: calc(50% - 50px);
}

#c6 {
    bottom: calc(20% - 50px);
    left: calc(20% - 50px);
}

#c7 {
    left: 0;
    top: calc(50% - 50px);
}

#c8 {
    top: calc(20% - 50px);
    left: calc(20% - 50px);
}

.seleccionada {
    box-shadow: 0 0 15px yellowgreen;
    border: 2px solid darkorange;
    background-color: bisque;
}
#centro {
    width:360px;
    height:360px;
    border:2px solid black;
    background-color: bisque;
    border-radius: 50%;
    box-shadow: 0 0 15px grey;
    position: absolute;
    left: calc(50% - 180px);
    top: calc(50% - 180px);
    color: white;
    overflow: hidden;
}

#centro img {
    height: 90%;
}

#contenedorBoton {
    position:absolute;
    text-align:center;
    width: 600px;
    height: 100px;
    top: 700px;
}

button {
    width: 150px;
    padding:10px;
    border-radius: 0;
    cursor: pointer;
}

#contadorIntentos {
    position: absolute;
    text-align: center;
    width:600px;
    top: 800px;

}
.cartel {
    background-color: black;
    height: 160px;
    width: 100%;
    z-index: 1000;
    opacity: 0.7;
    position: absolute;
    bottom:0;
    left:0;
}

#nombre {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 60px;
    height:100px;
    text-align: center;
    z-index: 2000;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.582);
}

#altura {
    width: 100%;
    color: lightcoral;
    position: absolute;
    bottom: 0;
    height: 60px;
    text-align: center;
    z-index: 2000;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.582);
}

#equipo {
    position:absolute;
    right:0;
    width:300px;
}
.miembro {
    position: relative;
    float: left;
    width: 220px;
    height: 220px;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    box-shadow: inset 5px 5px 15px grey;
}

.esMiembro {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background-color: black;
    color:red;
    opacity: 0.7;
    font-size: 180px;
}

.nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 15px grey;
    opacity: 0.7;
    text-align: center;
    font-size: 40px;
}

.altura {
    width: 17px;
    height: 17px;
    position: absolute;
    background-color: black;
    padding:5px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px grey;
    top: 10px;
    right: 10px;
    color: lightcoral;
    text-align: center;
}

.alert {
    color: red;
}

/**************************************************** Sprites *****************************************************/

#jugadaMachine {
    position: absolute;
    top: 22%;
    left: 64%;
    width: 25%;
    height: 300px;
    z-index: 1; /* Ensure this element is behind statsPlayer */
}
#jugadaMachine img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    animation: bounce 0.6s infinite alternate;
}

#jugadaPlayer {
    position: absolute;
    top: 45%;
    left: -5%;
    width: 60%;
    height: 700px;
   
}
#jugadaPlayer img {
    width: 100%;
    height: 100%;
    animation: bounce 1s infinite alternate;
}

.golpe {
    animation: bounce 0.6s infinite alternate, blink 0.5s infinite;
}
.ataque {
    animation: bounce 1s infinite alternate, diagonalMove 0.5s 0.5s;
}
.ataqueEnemigo {
    animation: bounce 1s infinite alternate, diagonalMoveReverse 0.5s 0.5s;
}
@keyframes diagonalMove {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100px, -100px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes diagonalMoveReverse {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-100px, 100px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
#tableroPlayer img:hover {
    filter: drop-shadow(0px 0 15px rgb(255, 0, 0));
}
/****************************************** Equipo Pokémon ******************************************/

#tableroPlayer { 
    margin-top: 30px;
    width: 15%;  
    height: 840px;
    padding-top: 5px;
    background-color:wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    opacity: 0.9;
    border: 4px solid silver;
}
#pokeball1, #pokeball2, #pokeball3, #pokeball4, #pokeball5 {
    width: 60%;
    height: 165px;      
    background-size: cover;
    background-repeat: no-repeat;
}
#tableroMachine {   
    margin-top: 30px;  
    padding-top: 5px;  
    width: 15%;  
    height: 840px;
    background-color:wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    opacity: 0.9;
    margin-left: auto;
    border: 4px solid silver;
}
#pokeballM1, #pokeballM2, #pokeballM3, #pokeballM4, #pokeballM5 {
     width: 41%;
     height: 165px;    
     background-image: url(imgs/pokeball.png);
     background-size: contain;
     background-repeat: no-repeat;
     margin-top: 20px;
}


/************************************************** Cuadros INFO Batalla **********************************************/


#statsPlayer {
    position: absolute;
    top: 81%;
    left: 52%;
    width: 46%;
    height: 120px;
    border: 6px solid rgb(231, 166, 92);
    background-color: wheat;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2; /* Ensure this element is in front of jugadaMachine */
}
#statsMachine {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 46%;
    height: 120px;
    border: 6px solid rgb(231, 166, 92);
    background-color: wheat;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
#nombrePlayer {
    padding-top: 2px;
    padding-left: 8px;
    width: 190px;
    height: 30px;
    font-size: 30px;
}
#nombreMachine {
    padding-top: 2px;
    padding-left: 8px;
    width: 190px;
    height: 30px;
    font-size: 30px;
}
#numeroPlayer {
    padding-top: 2px;
    padding-left: 8px;
    width: 190px;
    height: 30px;
    font-size: 30px;   
}
#numeroMachine {
    padding-top: 2px;
    padding-left: 8px;
    width: 190px;
    height: 30px;
    font-size: 30px;   
}
#vidaPlayer {
    padding-top: 2px;
    padding-left: 8px;
    width: 200px;
    height: 30px;
    font-size: 30px;
}
#vidaMachine {
    padding-top: 2px;
    padding-left: 8px;
    width: 200px;
    height: 30px;
    font-size: 30px;
}
#medidorPlayer {
    margin-top: 4px;
    margin-left: 5px;
    width: 94%;
    height: 30px;
    border: 6px solid silver;
    background-color: grey;
    border-radius: 5px;
}
#medidorMachine {
    margin-top: 4px;
    margin-left: 5px;
    width: 94%;
    height: 30px;
    border: 6px solid silver;
    background-color: grey;
    border-radius: 5px;
}
#vidaRestanteMachine {    
    height: 30px;
    
}
#vidaRestantePlayer {    
    height: 30px;
    
}

/*************************************************** Cuadro texto *************************************************/

#anuncios {
    position: absolute;
    top: 86%;
    left: 16%;
    width: 66%;
    height: 90px;
    border: 6px solid rgb(231, 166, 92);
    background-color: wheat;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    padding-left: 20px;
}

#startButtonContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#startButton {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 1400px) {
    body {
        background-size: contain;
    }
    #tablero {
        width: 100%; /* Use full width */
        max-width: 900px; /* Set a max-width */
        padding-bottom: 40%;
        margin-top: 10%;       
        background-repeat: no-repeat;
    }
    #statsPlayer {
        top: 75%;
        
    }
    #jugadaMachine {
        top: 15%;
        left: 65%;
        width: 20%;
        height: 200px;
    }
    #jugadaPlayer {
        top: 40%;        
        width: 50%;
        height: 500px;
    }
    #anuncios {
        top: 75%;
        width: 65%;        
        font-size: 35px;
    }
}
@media (max-width: 800px) {
    body {
        background-size: contain;
    }
    #tablero {      
        width: 63%; 
        max-width: 900px; /* Set a max-width */
        padding-bottom: 40%;
        margin-top: 0%;
      
    }
    #jugadaMachine {
        top: 6%;
        left: 65%;
        width: auto;
        height: 150px;
    }
    #jugadaPlayer {
        top: 20%;        
        width: auto;
        left: -15%;
        height: 400px;
    }
    #anuncios {
        top: 84%;
        width: 60%;
        left: 18%;
        height: 40px;        
        font-size: 20px;
    }
    #tableroPlayer {
        margin-top: 5px;
        width: 15%;
        height: 305px;
    }
    #tableroMachine {
        margin-top: 5px;
        width: 15%;
        height: 305px;
    }
    #pokeball1, #pokeball2, #pokeball3, #pokeball4, #pokeball5 {
        width: 55%;
        height: auto;      
    }
    #pokeballM1, #pokeballM2, #pokeballM3, #pokeballM4, #pokeballM5 {
        width: 45%;
        margin-top: 5px;     
    }
    #statsMachine {
        top: 1%;
        left: 1%;
        width: 46%;
        height: 50px;
    }
    #statsMachine * {
        font-size: 20px;
    }
    #statsPlayer * {
        font-size: 20px;
    }
    #statsPlayer {
        top: 77%;
        height: 50px;
    }
    #medidorPlayer, #medidorMachine, #vidaRestanteMachine, #vidaRestantePlayer {
        margin-top: -15px;
        height: 10px;
    }
}
@media (max-width: 750px) {
    body {
        background-size: contain;
    }
    #tablero {      
        width: 63%; 
        max-width: 900px; /* Set a max-width */
        padding-bottom: 40%;
        margin-top: 0%;
      
    }
    #jugadaMachine {
        top: 6%;
        left: 65%;
        width: auto;
        height: 130px;
    }
    #jugadaPlayer {
        top: 20%;        
        width: auto;
        left: -15%;
        height: 400px;
    }
    #anuncios {
        top: 86%;
        width: 60%;
        left: 18%;
        height: 30px;        
        font-size: 20px;
    }
    #tableroPlayer {
        margin-top: 5px;
        width: 15%;
        height: 305px;
    }
    #tableroMachine {
        margin-top: 5px;
        width: 15%;
        height: 305px;
    }
    #pokeball1, #pokeball2, #pokeball3, #pokeball4, #pokeball5 {
        width: 55%;
        height: auto;      
    }
    #pokeballM1, #pokeballM2, #pokeballM3, #pokeballM4, #pokeballM5 {
        width: 45%;
        margin-top: 5px;     
    }
    #statsMachine {
        top: 1%;
        left: 1%;
        width: 40%;
        height: 60px;
    }
    #statsMachine * {
        font-size: 20px;
    }
    #statsPlayer * {
        font-size: 20px;
    }
    #statsPlayer {
        top: 73%;
        width: 40%;
        left: 56%;
        height: 60px;
    }
    #medidorPlayer, #medidorMachine {
        margin-top: -12px;
        height: 10px;
        
    }
    #vidaRestanteMachine, #vidaRestantePlayer{
        margin-top: 0px;
    }
    #nombrePlayer, #nombreMachine, #numeroPlayer, #numeroMachine, #vidaPlayer, #vidaMachine {
        font-size: 15px;
    }
}
